# ==========================
# PostgreSQL
# ==========================

POSTGRES_DB=cholangiohub

POSTGRES_USER=cholangiohub

POSTGRES_PASSWORD=changeme

POSTGRES_PORT=5432



# ==========================
# MinIO
# ==========================

MINIO_ROOT_USER=minioadmin

MINIO_ROOT_PASSWORD=minioadmin

# API S3
MINIO_PORT=9000

# Console Web
MINIO_CONSOLE_PORT=9001



# ==========================
# ClickHouse
# ==========================

CLICKHOUSE_DB=cholangiohub

CLICKHOUSE_USER=default

CLICKHOUSE_PASSWORD=


# HTTP Interface
CLICKHOUSE_HTTP_PORT=8123


# Native TCP
# Alterado para evitar conflito com MinIO
CLICKHOUSE_NATIVE_PORT=9003